
header{ display: flex;
       justify-content: space-between;
       align-items:center;
       padding-left: 4px;
}
 nav ul {display: inline-block;
    padding: 0%;
      list-style: none;
      display: flex;
      gap: 2rem;
      font-weight: 800;
}
a{text-decoration: none;
font-weight: 500;
color: blueviolet;}
.btn{display:inline-flex;
    align-items: center;
    gap: .5rem;
     color: white;
     background-color: rgb(60, 60, 255);
     border-radius: 100px;
     padding: 1rem 2rem;
     text-decoration: none;
     height: 2px;
}
.btn.outline{background-color: transparent;
    border: 2px solid blue;
    color: blue
}
.hero{display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 gap: 8rem;
 position: relative;
 top: 60px;
}
h1{font-size: 60px;}
h2{font-weight: 700;}
.hero img{max-width: 80%;}
p.accent{color: rgb(138, 2, 143);
    font-weight: bold;
    font-size:14.5px;
position: relative;
top: 40px;
left: 10px;
}
.content{padding-left: 4px;}

    .btn6.mobile{
        display: none;
    }
 @media screen and (max-width:1000px){
    header nav,
    header .btn{display: none;
    }
    a.btn6.mobile{
        display: inline-block;
    }
    a.btn6.mobile img{
      width: 30px;
      height: 30px;
    }
    .hero{grid-template-columns: 1fr;
    gap: 4rem;
    }
 
 .hero-illustration{order: -1;}
 .hero img{max-width: 70%;
}
header{margin-bottom: 4rem;
}
h1{font-size:40px;}
h2{font-size: 21px;
}
p.accent{position: relative;
top: 25px;
}
}
  